*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 300%;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
    margin-top: 5px;

}

hr {
    height: 12px;
    border: 0;
}

input[type="range"] {
    margin-bottom: 1em;
}

#gameContainer {
    display: none;

    background-image: url("../images/layered-steps-haikei.png");
    background-repeat: round;
    background-size: contain;
}

#menuContainer {
    display: flex;

    background-image: url("../images/layered-steps-haikei.png");
    background-repeat: round;
    background-size: contain;
}

#gameCanvas {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
}

#menuCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    gap: 50px;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.credit {

    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
}

.option {
    min-width: 15%;
    border-radius: 15px;

    margin-left: 1.5em;
    padding: 5px;
    padding-top: 0px;
}

dialog {
    pointer-events: none;
    opacity: 0;
    width: auto;
    transition: opacity 2.5s ease;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);

  }
  dialog[open] {
    opacity: 1;
    pointer-events: inherit;
  }
  dialog[close] {
    opacity: 0;
    pointer-events: inherit;
  }
  dialog::backdrop {
    backdrop-filter: blur(25px);
    transition: backdrop-filter .5s ease;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
    border-radius: 15px;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);

  }