*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 300%;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
    margin-top: 5px;

}

hr {
    height: 12px;
    border: 0;
    margin-bottom: 0px;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1B32F0; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

input[type="range"] {
    margin-bottom: 1em;
}

#gameContainer {
    display: none;

    background-image: url("../images/layered-steps-haikei.png");
    background-repeat: round;
    background-size: contain;
}

#menuContainer {
    display: flex;

    background-image: url("../images/layered-steps-haikei.png");
    background-repeat: round;
    background-size: contain;
}

#gameCanvas {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
}

#menuCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    gap: 50px;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.credit {

    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
}

.option {
    min-width: 15%;
    border-radius: 15px;

    margin-left: 1.5em;
    margin-bottom: 1.5em;
    padding: 5px;
    padding-top: 0px;
}

dialog {
    pointer-events: none;
    opacity: 0;
    width: auto;
    transition: opacity 2.5s ease;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
    max-width: 80%;
  }
  dialog[open] {
    opacity: 1;
    pointer-events: inherit;
  }
  dialog[close] {
    opacity: 0;
    pointer-events: inherit;
  }
  dialog::backdrop {
    backdrop-filter: blur(25px);
    transition: backdrop-filter .5s ease;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
    border-radius: 15px;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);

  }

  .headerEndGame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em;
    border-radius: 15px;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  }

  button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #0366d6;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        color: #ffffff;
        background-color: #0366d6;
        border-color: #1b1f2326;
        box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
        transition-duration: 0.1s;
    }

  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7em;
    border-radius: 15px;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);

  }